@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    padding:0;
    margin:0;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header {
    background-color: #1f2937;
    color: #f9faf8;
    height: 450px;
}

.section {
    padding :0px 15%;
}

.banner {
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

header li, .subtext {
    color: #e5e7eb;
}

ul {
    padding:0px;
    margin:0px;
    display:flex;
    list-style-type: none;
    gap: 15px;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
    /* background-color: red; */
}


.header-content .part1 {
    width: 35%;
}

.header-content img{
    width: auto;
}

.title {
    font-size: 48px;
    font-weight: 900;
}

.part1 > div {
    margin-bottom: 10px;
}

.sign-up-button {
    color: #f9faf8;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 5px 30px;
    font-size:20px;
    font-weight: bold;
    border: 3px solid #3882f6;
}

.header-content img {
    background-color: gray;
}

/* ----Styling information section------ */

.info {
    color: #1f2937;
    height: 400px;
}
.info-title {
    margin: 30px 0px;
    font-size: 36px;
    font-weight: 900;
    text-align: center;
}
.cards-container {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 150px;
}
.card img {
    border: 4px solid #3882f6;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card .text {
    text-align: center;
}

/* ------ Styling quote section-------- */

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
    font-style: italic;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.quote-content {
    width: 80%;
}

.quote .author {
    text-align: right;
    margin-right: 70px;
    font-weight: bold;
    font-size: 25px;
    font-style: normal;
}


/* ------Styling sign up section----- */

.signup {
    color: #f9faf8;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.signup-box {
    background-color: #3882f6;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;
    padding: 50px 0px;
}

.signup .sign-up-button {
    border-color: #f9faf8;
}

.signup-title {
    font-weight: bold;
    font-size: 25px;
    margin-bottom: 5px;
}



/* ------Styling footer section----- */

footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 15px;
    text-align: center;
    padding: 30px 0px;
}